*{
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #551e9e;
    font-family: arial;
    border-radius: 100%;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    color: white;
}
/* Estilo para el botón "Agregar" */
button {
    background-color: #2c6daa;
    color: rgb(255, 255, 255);
    border: none;
    padding: 22px 35px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
div {
    display: flex;
    justify-content: center;
  }
/* Estilo para la lista de elementos */
ul {
    list-style-type: none;
    padding: 0;
}
.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 50%;
    padding: 20px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    
    margin-bottom: 0px;
    
}
.input{
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: #252fb3;
}
/* Estilo para los elementos de la lista */
li {
    background-color: #003468;
    margin:  20px 0;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    word-break: break-all;
    color: white;
}

/* Estilo para el botón de eliminar */
li button {
    background-color: #1e4a72;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    word-break: break-all;
}
.eliminar:hover {
    background-color: #ff0000;
}

